/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*font-family: 'Open Sans', sans-serif;*/

/* .fl-slide-text-center.fl-slide-0 .fl-slide-photo-wrap img {
    margin: 0;
} */
.fl-content-slider .fl-slide-bg-link{
	z-index: 9;
}

.fl-page {
    width: auto;
}

.footermenu .menu-item a {
    color: #FBFBFB;
    font-family: Roboto;
    font-size: 12px;
    line-height: 23px;
}

.home-tab .fl-tabs-labels {
    background-color: #384E77;
}

.fl-post-image-beside,
.fl-post-image-beside img {
    width: 100%;
    max-height: 500px;
}

.storename {
    list-style-type: none;
    padding-left: 0;
}

.fl-page-bar-text-2 .phone.retailer span {
    color: #fff;
}

.container .row .product-detail-layout-6 .product-variations a {
    border: none!important;
    outline: none!important;
}

.container .row .product-detail-layout-6 .product-variations img {
    padding: 5px!important;
}

.container .row .product-detail-layout-6 .color-box {
    min-height: 50px;
}

.container .row .product-detail-layout-6 .color-box .color-boxs-inner {
    margin-bottom: 0px!important;
}

.product-detail-layout-6 .image-expander img {
    filter: drop-shadow(0px 0px 2px black);
}


/*New pdp css */

.container .row .product-detail-layout-6 #product-images-holder>div {
    background-size: cover!important;
}

@media(max-width: 1024px) {
    .product-detail-layout-6 .toggle-image-thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
	.ginput_container_time input{
		padding-left: 0px !important;
	}
	.ginput_complex * {
		font-size: 10px !important;
		text-align: center !important;
	}
		.ginput_complex * {
		font-size: 14px !important;
		text-align: center !important;
	}
	.gfield{
		width: 100% !important;
		padding-left: 0px !important;
	}
	.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half{
		padding-right: 0px !important;
	}
}

@media(max-width: 768px) {
    .product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder:not(:first-child) a {
        margin-left: 10px!important;
    }
	.featured-products .featured-product-list .featured-product-item{
		width: 100% !important;
	}
	.uabb-close-custom-top-right {
		top: 140px;
	}

    .product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder a {
        margin-left: 10px!important;
    }
    .product-detail-layout-6 .imagesHolder #roomvo {
        width: 100%!important;
        padding-bottom: 0;
        left: 0px!important;
        padding: 0px!imporant;
        margin: 0px!imporant;
    }
}

@media (max-width: 500px) {
    .product-detail-layout-6 .image-expander {
        right: 25px!important;
    }
}

.product-detail-layout-6 .toggle-image-thumbnails {
    width: 100%;
}

.product-detail-layout-6 .slide.selected-slide:after {
    height: 30%!important;
    width: 30%!important;
    background-size: contain;
    top: 30%!important;
    left: 35%;
}

.product-detail-layout-6 .product-variations img {
    max-height: 100px;
    min-width: 100px;
    min-height: 100px!important;
}


/*New PDP Button Color css */

.product-detail-layout-6 .dual-button a {
    background-color: #fff!important;
    color: #000!important;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

.product-detail-layout-6 .dual-button a:hover {
    color: #fff!important;
    background-color: #428bca!important;
    border-style: solid;
    border-width: 2px;
    border-color: #428bca;
}

.product-detail-layout-6 .button-wrapper>a {
    background-color: #fff!important;
    color: #000!important;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}

.product-detail-layout-6 .button-wrapper>a:hover {
    background-color: #428bca!important;
    color: #fff!important;
    border-style: solid;
    border-width: 2px;
    border-color: #428bca!important;
}

.gfield_captcha_input_container.math_medium input {
    width: auto !important;
}

.btnroomvo a {
    color: #6e6553;
    padding: 12px 24px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #E9DBBF;
}

.btnroomvo a:hover {
    background: #f6f4eb;
}

.storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

header .sign-up {
    font-size: 14px;
    line-height: 20px;
    display: block;
    font-weight: normal;
    letter-spacing: 1px;
}

#rmp_menu_trigger-1085005 {
    background: #fff !important;
}

#rmp-container-1085005 {
    background: #000 !important;
}

#rmp-container-1085005 .rmp-menu-additional-content {
    font-size: 0px !important;
}

#breadcrumbs {
    padding: 11px 0 !important;
    background: #f7f7f7;
    font-size: 14px !important;
    text-align: left;
    font-weight: 600 !important;
}

#rmp-container-1085005 .rmp-menu-additional-content .phone {
    font-size: 16px;
    padding: 10px 0 0;
}

ul.social-icons li a:hover i {
    color: #a89019 !important;
}

#input_19_13 {
    color: #000 !important;
    min-height: 33px;
    border-radius: 5px;
}

div.searchHeader>.fl-row-content-wrap {
    background: #E9DBBF !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}

ul.storename .phone a:hover span {
    color: #a89019 !important;
}

.location-get-direction .direction a {
    border-radius: 0 !important;
    color: #323232;
    border-color: #323232;
    background: none;
    width: 100%;
    text-align: center;
}

.location-get-direction .direction a:hover {
    background: #890004;
}

.location-get-direction .direction a span {
    color: #323232;
}

.location-get-direction .direction a:hover span {
    color: #fff;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0;
    padding: 5px 20px;
}

div#navi {
    z-index: 20!important;
}

body#error-page {
    padding: 0px;
    max-width: 100%;
}

.custom_searchHeader i.ua-icon.ua-icon-search {
    cursor: pointer;
}

.category-images-wrap,
.roomvo-video {
    position: relative;
    z-index: 0;
}

.category-images-wrap .uabb-ib-effect-style14 .uabb-new-ib-desc::before {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

form ul .timeEstimate .ginput_complex .ginput_container_time {
    width: 100%;
    max-width: 80px!important;
}

form ul .timeEstimate .ginput_complex .ginput_container_time input {
    width: 80%!important;
    padding-right: 0px!important;
}

form ul .timeEstimate .ginput_complex .ginput_container_time select {
    min-width: 100px;
}

.category-images-wrap .uabb-ib-effect-style14 .uabb-new-ib-title {
    text-transform: uppercase;
}

.category-images-wrap .uabb-ib-effect-style14 .uabb-new-ib-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 300;
}

.category-images-wrap .uabb-ib-effect-style14 .uabb-new-ib-desc {
    padding: 30px 30px 20px;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
}

.gform_wrapper .top_label input.large.datepicker,
.gform_wrapper .top_label input.medium.datepicker,
.gform_wrapper .top_label input.small.datepicker {
    width: 100% !important;
}

.gform_wrapper .gfield_time_hour {
    max-width: calc(5rem + .5rem) !important;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
    width: calc(4rem + 8px) !important;
    margin-right: 10px !important;
}

body input#input_18_8_1 {
    padding: 15px 0 !important;
    text-align: center !important;
}

body .gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    padding: 15px 0 !important;
    color: #000 !important;
}

.gform_wrapper .gfield_time_minute {
    max-width: 5.2rem !important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -4% !important;
}

@media(max-width:1024px) {
    .header-main-wrp .header_btn .uabb-none-btn {
        padding-right: 5px!important;
        padding-left: 5px!important;
    }
    .header-main-wrp .menu li {
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    .header-main-wrp .menu li a {
        letter-spacing: 0px!important;
    }
}

#heading-home h1,
#heading-home h1 span {
    font-size: 0px!important;
}

@media(min-width:1024px) {
    .not-on-desktop {
        display: none!important;
    }
}

@media(max-width:768px) {
    footer * {
        text-align: center !important
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 0px !important;
    }
    .fl-slide-1 .fl-content-slider .fl-slide-bg-photo {
        position: absolute !important;
    }
    .fl-slide-1 .fl-slide-foreground.clearfix {
        position: absolute !important;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    div#navi {
        position: static !important;
    }
    .gform_wrapper .gfield_time_ampm,
    .gform_wrapper .gfield_time_hour,
    .gform_wrapper .gfield_time_minute {
        width: 100% !important;
    }
    .sticky-element-placeholder.sticky-element-active {
        display: none !important;
    }
    .uabb-photo-gallery img {
        max-width: 400px;
        margin: 20px auto;
    }
    .fl-module-heading h1.fl-heading {
        font-size: 40px !important;
    }
    input#input_18_7 {
        width: 100% !important;
    }
}

@media(max-width:767px) {
    .fl-slide-1 .fl-slide-foreground.clearfix {
        position: absolute !important;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fl-slide-1 img.aligncenter {
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:500px) {
    header img.uabb-photo-img.size-full {
        max-width: 70%;
    }
    #rmp_menu_trigger-1085005 {
        top: 40px !important;
        background: #fff !important;
    }
}